<p id="notice"><%= notice %></p>

<h1>Map</h1>

<h2>Cities</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Calculate Distance</h2>

<%= form_for :city, :as => 'calculate', :url => {:action => 'dijkstra'} do |f| %>
  <%= select_tag "origin", options_from_collection_for_select(City.all, "id", "name") %>

  <%= submit_tag "Calulate distances"%>
<% end %>

<div id="result"></div>


